.user-id {
  background-color: #5a45456e;
  padding: 5px;
  text-align: center;
  margin: 5px auto;
  color: white;
  position: relative;
}

.user-id span {
  position: absolute;
  left: 0px;
  top: 1px;
  background: #58373757;
  width: 18px;
  height: 17px;
  padding: 5px;
}
